@import '~purecss/build/pure.css';

$base-color: rgba(60,44,11,1);
$secondary-color: rgba(161,115,20,1);
$highlight-color: #e0b252;
$light-color: rgb(255,236,196);

$gradient-dark: radial-gradient(circle, $secondary-color 0%, $base-color 100%);
$gradient-light: radial-gradient(circle, $light-color 0%, $base-color 100%);
$shadow: 1px 1px 3px 1px rgba(0,0,0,0.3);
$shadow-lg: 3px 3px 10px 3px rgba(0,0,0,0.8);


@mixin prevent-fout { .wf-loading & { opacity: 0; visibility: none; } }
@mixin fade-in { opacity: 1; transition: linear opacity 0.3s; }

@keyframes pulse { 50% { opacity: 1; } }
@keyframes fight-hero { 100% { transform: translateX(80px) rotate(3deg); } }
@keyframes fight-monster { 100% { transform: translateX(-80px) rotate(-3deg); } }
@keyframes clear { 100% { top: 600px; left: -200px; } }

$ease-back: cubic-bezier(.6,-0.28,.74,.05);

@mixin fight-animation($anim) { animation: $anim 0.3s $ease-back 0.4s alternate 2; }

@mixin clear-animation { animation: clear 0.2s ease-out 1.0s forwards; }

.box {
  animation: pulse .5s ease-out 2;
}

body {
    background: $base-color;
    height: 100vh;
    color: $highlight-color;
}

.game {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: $base-color;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.title-main-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    height: 1px;
    width: 100%;
    z-index: 9;
    @include fade-in;
    @include prevent-fout;
}

.title-main {
    font-family: 'Grenze Gotisch';
    top: 10px;
    font-size: 2.7em;
    margin: 0;
    background: $light-color;
    color: $base-color;
    border: 1px solid $base-color;
    box-shadow: $shadow;
    padding: 0.2em 0.5em 0.4em;;
    position: relative;

    &:before {
        content: "";
        height: 60px;
        width: 30px;
        position: absolute;
        top: 30%;
        left: -20px;
        background: inherit;
        border: inherit;
        box-shadow: inherit;
        z-index: -1;
    }
    &:after {
        content: "";
        display: block;
        height: 60px;
        width: 30px;
        position: absolute;
        top: 30%;
        right: -20px;
        background: inherit;
        border: inherit;
        box-shadow: inherit;
        z-index: -1;
    }
}

.top {
    flex: 1 1 100%;
    margin-bottom: 10px;
}

.bottom {
    flex: 0 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background:  linear-gradient(180deg, $secondary-color 0%, $base-color 100%);
}

.characters {
    background:  linear-gradient(90deg, $highlight-color 0%, $base-color 100%);
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    position: relative;

    &.characters-monsters {
        background:  linear-gradient(270deg, $highlight-color 0%, $base-color 100%);
        justify-content: flex-end;
}

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background:  linear-gradient(90deg, $light-color 0%, $base-color 100%);
    }

    &.select:before { animation: pulse 1.3s ease-in-out infinite; }


    .character {
        z-index: 1;
        width: 90px;
        height: 120px;
        border-radius: 8px;
        border-width: 4px;

        .img {
            margin: 20px;
        }

        .title {
            border-radius: 3px;
            font-size: 0.5em;
            padding: 3px 2px;
        }

        .level {
            font-size: 0.9em;
            padding: 0 3px 3px 0;
            border-radius: 0 0 4px 0;
        }
    }
}

.character {
    box-shadow: $shadow;
    background: $gradient-light;
    width: 170px;
    height: 225px;
    border: 5px solid $light-color;
    border-radius: 10px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin: 10px;
    opacity: 1;
    overflow: hidden;
    @include prevent-fout;
    position: relative;
    transition: opacity 0.3s, 0.2s, transform 0.2s $ease-back;

    .select &:hover { transform: scale(1.05) rotate(1deg) }

    .fighting &.character-hero { @include fight-animation(fight-hero) }
    .fighting &.character-monster { @include fight-animation(fight-monster) }


    .battlefield & {
      top: 0;
      left: 0;
      &.defeated { @include clear-animation; }
      &.victorious { @include clear-animation; }
    }

    &.character-hero.defeated { transform: rotate(-87deg) translateX(-50px); }

    &.character-monster.defeated { transform: rotate(87deg) translateX(50px); }

    &.character-monster .img { transform: scaleX(-1); }

    .battlefield &.character-preview {
      opacity: 0.5;
    }

    .img {
        margin: 30px;
        flex: 1 1 auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;

    }

    .title {
        align-self: stretch;
        padding: 10px 5px;
        display: block;
        background: $base-color;
        text-align: center;
        color: $highlight-color;
        border-radius: 5px;
        font-family: 'VT323', sans-serif;
        position: relative;
    }

    .level {
        color: $base-color;
        background: $light-color;
        position: absolute;
        top: px;
        left: px;
        padding: 0 5px 5px 0;
        border-radius: 0 0 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'VT323', sans-serif;
        font-size: 1.4em;
    }
}

.hero-placeholder {
    background: $light-color;
    width: 170px;
    height: 225px;
    border: 5px solid $light-color;
    border-radius: 10px;
    margin: 10px;
    opacity: 0.3;
}

.battlefield {
    border-radius: 15px;
    box-sizing: border-box;
    margin: 20px;
    margin-top: 50px;
    background:  $secondary-color;
    box-shadow: $shadow;
    height: 350px;
    padding: 40px 20px;
}

.fighting-zone {
    display: flex;
    justify-content: center;
}

.story {
    color: $highlight-color;
    background: $light-color;
    padding: 10px 20px;
    border-radius: 5px;
    color: $base-color;
    font-family: 'VT323', sans-serif;
    font-size: 1.1em;
    @include fade-in;
    @include prevent-fout;
    box-shadow: $shadow;

    p { margin: 10px; }

    .pure-button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}


.button-primary {
    background: $highlight-color;
}

.previous-battles {
    display: flex;

    .character {
        width: 65px;
        height: 90px;
        margin: 5px;
        border-width: 3px;
        border-radius: 5px;
        transition: none;

        &.character-hero.defeated {
            transform: rotate(-87deg) translateX(-20px);
        }

        &.character-monster.defeated {
            transform: rotate(87deg) translateX(20px);
        }

        .img {
            margin: 15px;
        }

        .title {
            border-radius: 1px;
            font-size: 6px;
            padding: 2px 1px;
        }

        .level {
            font-size: 0.7em;
            padding: 0 2px 2px 0;
            border-radius: 0 0 8px 0;
        }
    }
}

.battle-history {
    color: $base-color;
    background: $highlight-color;
    padding: 5px 8px;
    border-radius: 3px;
    z-index: 9;
    box-shadow: $shadow;
    position: relative;
    left: 50px;

    h3 {
      font-family: 'VT323', sans-serif;
      font-weight: normal;
    }

    .history-characters {
      display: flex;
    }

    .character {
        width: 65px;
        height: 90px;
        margin: 5px;
        border-width: 3px;
        border-radius: 5px;
        transition: none;
        animation: none !important;
        transform: none !important;

        .img {
            margin: 15px;
        }

        .title {
            border-radius: 1px;
            font-size: 6px;
            padding: 2px 1px;
        }

        .level {
            font-size: 0.7em;
            padding: 0 2px 2px 0;
            border-radius: 0 0 5px 0;
        }
    }
}

.hp {
  right: 40px;
  position: relative;
  color: $light-color;
  background: $base-color;
  padding: 3px 10px;
  font-family: 'VT323', sans-serif;
  font-size: 1.5em;
}

.hide {display: none;}

// move elm debugger
.game + div {
  bottom: 150px !important;
  opacity: 0.3;
}
